.wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  text-decoration: none;
  max-width: 100%;
  display: flex;

  @include screen-tb {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
table {
  margin: 0;
  padding: 0;
}
input {
  border: none;
  background: #f9fbff;
}
