$violet-light: #9197b3;
$violet-strong: #5932ea;
$grey: #757575;
$grey-light: #b5b7c0;
$black-light: #292d32;
$green-light: #16c098;
$green-middle: #00b087;
$green-strong: #008767;
$red: #df0404;
$red-light: #ffc5c5;
$grey-bg-button: #f5f5f5;
$grey-text-button: #404b52;
